a {
    color: #a4c5e1;
    text-decoration: none;
    cursor: pointer
}

.app {
    position:absolute;
    display: block;
    left: 80%;
    top: 65%;
    height: 30%;
    width: 15%;
}

.single-box {
    position:absolute;
    pointer-events: none
}

.single-box canvas {
    max-height: 100%;
    max-width: 100%;
    pointer-events: none;
}

.single-box .main {
    --main-width: 200px;
    --main-height: 200px;
    width: var(--main-width);
    height: var(--main-height);
    position: absolute;
    right: 5%;
    margin: 0 auto;
    bottom: 80px;
    cursor: pointer;
    pointer-events: auto;
    transform-origin: 50% 400px;
    background: no-repeat 50% 50%;
    background-size: cover;
    background-image: url(./model/sakana.png);
}

.single-box .main.chisato {
    background-image: url(./model/chisato.png);
}

.single-box .bed {
    pointer-events: auto;
    width: 200px;
    height: 30px;
    position: absolute;
    right: 5%;
    bottom: 0;
    margin: 0 auto;
    background: no-repeat 50% 50%;
    border-radius: 2px;
    cursor: pointer;
    background-image: url(./model/blue00f4.png);
    background-size: 30px 30px;
}

.ctrl-box {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255,255,255,0.3); */
}

.ctrl-box a {
    float: left;
    padding: 0 4px;
    margin-top: 2px;
    border-radius: 2px;
}

.ctrl-box a[data-active="true"] {
    background: #182562;
}

.set-voice {
    cursor: pointer;
}

.set-voice.voice-mute {
    text-decoration: line-through;
}

.set-orientation-link {
    display: none;
}

[data-text]:before {
    content: attr(data-text);
}

html[data-can-orientation="true"] .set-orientation-link {
    display: block;
}

html[data-permission-state="true"] .set-orientation-link {
    display: none;
}